pymilvus
langchain
langchain-huggingface
langchain-core
langchain-community
langchain-text-splitters
langchain-milvus
langgraph
sentence-transformers
nltk
spacy
pandas
scikit-learn
redis
tensorboard
flask
beautifulsoup4
requests 
tiktoken 
langchain-nomic 
tavily-python 
bs4
streamlit
langchain[groq]